<div class="contain-data">
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
  <h3>
    more better selection
  </h3>
  <h2>
    stablizier
  </h2>
  <p>
    anak ayam turun gunung
  </p>
  <p>
    <mat-icon style="height: 100px; width: 100px">
      local_movies
    </mat-icon>
  </p>
</div>
