<div class="contain">
  <mat-card class="primary">Simple card</mat-card>
  <h2>
    more better selection
  </h2>
  <p>
    <mat-icon style="height: 100px; width: 100px">
      local_movies
    </mat-icon>
  </p>
  <div class="example-form"  [formGroup]="mainFormAll">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="emailFormControl" placeholder="Ex. pat@example.com">
      <mat-error
        *ngIf="
        mainFormAll?.get('emailFormControl').hasError('required') &&
        (mainFormAll?.get('emailFormControl')?.dirty || mainFormAll?.get('emailFormControl')?.touched)
        ">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
  </div>

  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button class="primary">Primary</button>
    <button mat-button class="accent">Accent</button>
    <button mat-button class="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>

</div>
