@use '@angular/material' as mat;
@mixin cust-theme($theme, $default1: null, $default2: null){
  // start #3 theme implement on component angular
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .mat-toolbar{
    color: mat.get-color-from-palette($primary, 300) !important;
    background-color: mat.get-color-from-palette($accent, second-color) !important;
    $border-color: mat.get-contrast-color-from-palette($warn, third-color);
    border-bottom: 10px solid rgba($border-color, 1) !important;
  }

  h1,
  h2, 
  h3,
  h4,
  h5,
  {
    color: mat.get-contrast-color-from-palette($warn, second-color) !important;
  }
/* 
  .root{
    background-color: mat.get-color-from-palette($primary, first-color);
    height: 70vh;
  } */

  .contain-data{
    background-color: mat.get-color-from-palette($primary, first-color);
    height: 70vh;
    padding: 2rem;
  }

  .font-size-huge{
    font-size: 32px;
    text-transform: uppercase;
  }
  mat-icon,
  .icon-color-theme {
    color: mat.get-color-from-palette($warn, 500) !important;
    fill: mat.get-color-from-palette($warn, 500) !important;
    font-size: 100px !important;
  }

  p{
    color: mat.get-contrast-color-from-palette($warn, first-color) !important;
  }

  /*  @include mat.all-component-themes($theme);*/
  // end #3 theme implement on component angular
}
