@use '@angular/material' as mat;
@mixin cust-theme($theme, $default1: null, $default2: null){
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .mat-toolbar{
    color: mat.get-color-from-palette($primary, 300) !important;
    background-color: mat.get-color-from-palette($accent, third-color) !important;
    $border-color: mat.get-contrast-color-from-palette($warn, third-color);
    border-bottom: 10px solid rgba($border-color, 1) !important;
  }

  .root{
    background-color: mat.get-color-from-palette($warn, third-color);
    height: 70vh;
  }
  @include mat.all-component-themes($theme);
}
